<?xml version="1.0" encoding="UTF-8"?>
<form>
    <fields name="params">
        <fieldset name="basic">
            <field type="spacer" name="spacer_ct_navigation_hr" hr="true"/>
            <field type="spacer" name="spacer_ct_navigation_name"
                   class="alert alert-warning btn-block"
                   label="MOD_TZ_PORTFOLIO_PLUS_SINGLE_ARTICLE_NAVIGATION_OPTIONS_LABEL"/>

            <field type="list" name="navigation_article_in"
                   default="0"
                   label="PLG_CONTENT_NAVIGATION_ARTICLE_IN_LABEL"
                   description="PLG_CONTENT_NAVIGATION_ARTICLE_IN_DESC">
                <option value="0">PLG_CONTENT_NAVIGATION_MAIN_ONLY_MAIN_CATEGORY</option>
                <option value="1">PLG_CONTENT_NAVIGATION_MAIN_SECONDARY_CATEGORIES</option>
            </field>
            <field type="list" name="navigation_display"
                   default="0"
                   label="PLG_CONTENT_NAVIGATION_DISPLAY_LABEL"
                   description="PLG_CONTENT_NAVIGATION_DISPLAY_DESC">
                <option value="0">PLG_CONTENT_NAVIGATION_VALUE_NEXTPREV</option>
                <option value="1">PLG_CONTENT_NAVIGATION_VALUE_TITLE</option>
            </field>
        </fieldset>        ​
    </fields>
</form>