<?xml version="1.0" encoding="UTF-8"?>
<form>
    <fields name="params">
        <fieldset name="basic">
            <field type="spacer" name="spacer_social_hr" hr="true"/>
            <field type="spacer" name="spacer_social_name"
                   class="alert alert-warning btn-block"
                   label="PLG_CONTENT_SOCIAL_OPTIONS_LABEL"/>
            <field type="radio" name="show_twitter_button"
                   class="switcher btn-group" default="1"
                   label="PLG_CONTENT_SOCIAL_SHOW_TWITTER_BUTTON_LABEL"
                   description="PLG_CONTENT_SOCIAL_SHOW_TWITTER_BUTTON_DESC">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="show_facebook_button"
                   class="switcher btn-group" default="1"
                   label="PLG_CONTENT_SOCIAL_SHOW_FACEBOOK_BUTTON_LABEL"
                   description="PLG_CONTENT_SOCIAL_SHOW_FACEBOOK_BUTTON_DESC">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="show_google_button"
                   class="switcher btn-group" default="1"
                   label="PLG_CONTENT_SOCIAL_SHOW_GOOGLE_BUTTON_LABEL"
                   description="PLG_CONTENT_SOCIAL_SHOW_GOOGLE_BUTTON_DESC">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="show_pinterest_button"
                   class="switcher btn-group" default="1"
                   label="PLG_CONTENT_SOCIAL_SHOW_PINTEREST_BUTTON_LABEL"
                   description="PLG_CONTENT_SOCIAL_SHOW_PINTEREST_BUTTON_DESC">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="show_linkedin_button"
                   class="switcher btn-group" default="1"
                   label="PLG_CONTENT_SOCIAL_SHOW_LINKEDIN_BUTTON_LABEL"
                   description="PLG_CONTENT_SOCIAL_SHOW_LINKEDIN_BUTTON_DESC">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>​
        </fieldset>        ​
    </fields>
</form>