<?xml version="1.0" encoding="utf-8"?>
<form>
    <fields name="params">
        <fieldset name="mediatype_flipbook_gallery"
                  label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_FIELDSET_LABEL">
            <field type="radio" name="mt_flipbook_gallery_show"
                   default="1" class="switcher btn-group"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_SHOW_LABEL"
                   description="PLG_MEDIATYPE_FLIPBOOK_GALLERY_SHOW_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field name="flipbook_gallery_lightbox_option" type="List"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_LIGHTBOX_LABEL"
                   description="PLG_MEDIATYPE_FLIPBOOK_GALLERY_LIGHTBOX_LABEL"
                   multiple="true"
                   default="[&quot;zoom&quot;, &quot;slideShow&quot;, &quot;fullScreen&quot;, &quot;thumbs&quot;, &quot;close&quot;]">
                <option value="zoom">zoom</option>
                <option value="share">share</option>
                <option value="slideShow">slideShow</option>
                <option value="fullScreen">fullScreen</option>
                <option value="download">download</option>
                <option value="thumbs">thumbs</option>
                <option value="close">close</option>
            </field>
            <field type="tzimagesizelist" name="mt_flipbook_gallery_size"
                   addon="flipbook_gallery"
                   addon_group="mediatype"
                   param_name="flipbook_gallery_size"
                   param_text="title"
                   param_value="image_name_prefix"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_SIZE_LABEL">
                <option value="o">PLG_MEDIATYPE_FLIPBOOK_GALLERY_ORIGINAL</option>
            </field>
            <field type="text" name="mt_flipbook_gallery_width"
                   default="100%"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_WIDTH_LABEL"
                   description="PLG_MEDIATYPE_FLIPBOOK_GALLERY_WIDTH_DESC" />
            <field type="text" name="mt_flipbook_gallery_height"
                   default=""
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_HEIGHT_LABEL"
                   description="PLG_MEDIATYPE_FLIPBOOK_GALLERY_HEIGHT_DESC" />
            <field type="text" name="mt_flipbook_gallery_ratio"
                   default="5:3"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_RATIO_LABEL"
                   description="PLG_MEDIATYPE_FLIPBOOK_GALLERY_RATIO_DESC" />
            <field type="list" name="mt_flipbook_gallery_direction"
                   default="LTR"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_DIRECTION_LABEL">
                <option value="LTR">PLG_MEDIATYPE_FLIPBOOK_GALLERY_LTR</option>
                <option value="RTL">PLG_MEDIATYPE_FLIPBOOK_GALLERY_RTL</option>
            </field>
            <field type="text" name="mt_flipbook_gallery_padding"
                   default="2vw"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_PADDING_LABEL" />
            <field type="radio" name="mt_flipbook_gallery_show_arrow"
                   class="btn-group" default="1"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_ARROW_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="mt_flipbook_gallery_show_page_selector"
                   class="btn-group" default="1"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_PAGE_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="mt_flipbook_gallery_show_cover_page"
                   class="btn-group" default="1"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_COVER_PAGE_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>

            <!-- Start related options -->
            <field type="radio" name="mt_flipbook_gallery_related_show_image"
                   class="btn-group" default="1"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_RELATED_SHOW_IMAGE_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="tzimagesizelist" name="mt_flipbook_gallery_related_size"
                   addon="flipbook_gallery"
                   addon_group="mediatype"
                   param_name="flipbook_gallery_size"
                   param_text="title"
                   param_value="image_name_prefix"
                   label="PLG_MEDIATYPE_FLIPBOOK_GALLERY_RELATED_SIZE_LABEL"
                   description="PLG_MEDIATYPE_FLIPBOOK_GALLERY_RELATED_SIZE_DESC">
                <option value="o">PLG_MEDIATYPE_FLIPBOOK_GALLERY_ORIGINAL</option>
            </field>
            <!-- End related options -->
        </fieldset>
    </fields>
</form>