<?xml version="1.0" encoding="UTF-8"?>
<form>
    <fields name="params">
        <fieldset name="basic">
            <field type="spacer" name="spacer_ct_charity_hr" hr="true"/>
            <field type="spacer" name="spacer_ct_charity_name"
                   class="alert alert-warning btn-block"
                   label="PLG_CONTENT_CHARITY_OPTIONS_LABEL"/>​
            <field type="radio" name="show_article_donate" default="1" class="switcher btn-group"
                   label="JGLOBAL_SHOW_DONATE_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="show_article_events"
                   default="1" class="switcher btn-group"
                   label="JGLOBAL_SHOW_EVENTS_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
        </fieldset>     ​
    </fields>
</form>