<?xml version="1.0" encoding="UTF-8"?>
<form>
    <fields name="params">
        <fieldset name="basic">
            <field type="spacer" name="spacer_music_name"
                   class="alert alert-warning btn-block"
                   label="PLG_CONTENT_MUSIC_OPTIONS_LABEL"/>​
            <field type="radio" name="music_show_article"
                   default="1" class="switcher btn-group"
                   label="PLG_CONTENT_MUSIC_SHOW_IN_ARTICLE">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="music_auto_play"
                   class="switcher btn-group"
                   default="0"
                   label="PLG_CONTENT_MUSIC_AUTO_PLAY_LABEL">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>
            <field type="radio" name="music_show_repeat"
                   class="switcher btn-group"
                   default="0"
                   label="PLG_CONTENT_MUSIC_SHOW_REPEAT_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="music_show_shuffle"
                   class="switcher btn-group"
                   default="0"
                   label="PLG_CONTENT_MUSIC_SHOW_SHUFFLE_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="music_show_fullscreen"
                   class="switcher btn-group"
                   default="0"
                   label="PLG_CONTENT_MUSIC_SHOW_FULL_SCREEN_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="music_show_stop_btn"
                   class="switcher btn-group"
                   default="1"
                   label="PLG_CONTENT_MUSIC_SHOW_FULL_STOP_BUTTON_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="text" name="music_volume"
                   default="0.8"
                   label="PLG_CONTENT_MUSIC_VOLUME_LABEL"
                   description="PLG_CONTENT_MUSIC_VOLUME_DESC"/>
            <field type="radio" name="music_show_title"
                   default="1" class="switcher btn-group"
                   label="JGLOBAL_SHOW_TITLE_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="radio" name="music_show_description"
                   default="1" class="switcher btn-group"
                   label="PLG_CONTENT_MUSIC_SHOW_DESCRIPTION_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="list" name="music_order"
                   default="rdate"
                   label="PLG_CONTENT_MUSIC_ORDER_LABEL">
                <option value="rdate">PLG_CONTENT_MUSIC_RECENT_FIRST</option>
                <option value="date">PLG_CONTENT_MUSIC_OLDEST_FIRST</option>
                <option value="alpha">PLG_CONTENT_MUSIC_TITLE_ALPHABETICAL</option>
                <option value="ralpha">PLG_CONTENT_MUSIC_TITLE_REVERSE_ALPHABETICAL</option>
                <option value="order">JFIELD_ORDERING_LABEL</option>
            </field>
            <field type="radio" name="music_show_countsong"
                   default="1" class="switcher btn-group"
                   label="PLG_CONTENT_MUSIC_SHOW_COUNT_SONG_LABEL">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
        </fieldset>     ​
    </fields>
</form>